.App {
  text-align: center;
}

div {
  text-align-last: center;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
